html,body {
  color: $text-color;
  font-size: $base-font-size;
  font-family: $second-font;

}

.t-tudo{
    color:$color-tudo;
}
.c-tudo{
    background-color: $color-tudo;
}

.t-noticias{
    color:$color-noticias;
}
.c-noticias{
    background-color: $color-noticias;
}

.t-dicas{
    color:$color-dicas;
}
.c-dicas{
    background-color: $color-dicas;
}

.t-dietas{
    color:$color-dietas;
}
.c-dietas{
    background-color: $color-dietas;
}

.t-historias{
    color:$color-historias;
}
.c-historias{
    background-color: $color-historias;
}
.t-superalimentos{
    color:$color-superalimentos;
}
.c-superalimentos{
    background-color: $color-superalimentos;
}

.t-exercicios{
    color:$color-exercicios;
}
.c-exercicios{
    background-color: $color-exercicios;
}

.t-receitas{
    color:$color-receitas;
}
.c-receitas{
    background-color: $color-receitas;
}

.t-curiosidades{
    color:$color-curiosidades;
}
.c-curiosidades{
    background-color: $color-curiosidades;
}

#bg_container{
    content: "";
    position: absolute;
    height: 20%;
    width: 20%;
    background-size: cover;
    z-index: -1;
    -webkit-transform: scale(5);
    -webkit-transform-origin: top left;
    -webkit-filter: blur(2px);

    &:before{
        content: ' ';
        background-color: #FFF;
        display: block;
        width: 100%;
        height: 100%;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        filter: alpha(opacity=50);
        -moz-opacity:0.5;
        -khtml-opacity: 0.5;
        opacity: 0.5;
    }
}

.sprites{
    background-image: url(../img/sprites.gif);
    background-repeat: no-repeat;

}



.wrapper {
    margin: 0 auto;
    width: $base-width;
}

.wrapper-logo {
    height: 98px;
    margin-top: 13px;
    margin-bottom: 2px;

    .logo{
        width: 229px;
        padding-top: 20px;
        float:left;
    }
    .book{
        position: relative;
        float:right;
    }
}

.wrapper-posts{

    .content-posts{
        position: relative;


        .title-post{
            position: relative;
            top: -53px;
            left: 0px;
            background-color: rgba(255, 255, 255, 0.8);
            height: 48px;
            line-height: 60px;

            padding: 0 10px;

        }
        .infos {
            position: relative;
            top: -113px;

            .social {
                width: 94px;
                height: 25px;
                background-color: #fff;
                display: inline;
                float: right;
                font-size: 12px;
                line-height: 24px;
                color:#c1c2c5;


            }
        }

        .posts{

            height: 188px;



        }
    }

    > :first-child {
        width: 560px;
        float:left;
        margin:0 10px 0 0;

    }

    > :last-child {

        width: 410px;
        float: right;

    }

    .tag-post{
        height: 25px;
        padding: 0 7px;
        color: white;
        font-family: $main-font;
        display: inline;
    }

    .share{
        float: left;
        width: 18px;
        padding: 0 0 0 6px;

        span{
            display: block;
            padding: 0 0 0 25px;
            cursor: pointer;
        }
    }

    .comments{
        float: right;
        width: 18px;
        padding: 0 20px 0 0;

        span{
            display: block;
            padding: 0 0 0 26px;
            cursor: pointer;
        }
    }

    .share-post{
        height: 23px;
        background-position: 0 -19px;
    }
    .comments-post{
        height: 23px;
        background-position: 0 -38px
    }

}

.flag{
    height: 7px;
    display: block;
    position: relative;
    top: 4px;
    width: 93px;
}
