input[type="text"] {
    height: 25px;
    width: 214px;
    padding: 0 7px;
    border: 2px solid #d4d4d4;
    border-radius: 6px;
    font-size:15px;
    outline: none;
   -moz-box-shadow:    inset 0 0 10px #dbdedf;
   -webkit-box-shadow: inset 0 0 10px #dbdedf;
   box-shadow:         inset 0 0 10px #dbdedf;

}


.btn{
 -webkit-border-radius: 3px;
 border:none;
 width: 74px;
 height: 29px;
 -moz-border-radius: 3px;
 border-radius: 4px;
 padding: 10px 10px 10px 10px;
 text-decoration:none;
 display:inline-block;
 line-height: 0;
 color: #FFFFFF;
 background-color: #00ABEA;
 background-image: -webkit-gradient(linear, left top, left bottom, from(#00ABEA), to(#0079A6));
 background-image: -webkit-linear-gradient(top, #00ABEA, #0079A6);
 background-image: -moz-linear-gradient(top, #00ABEA, #0079A6);
 background-image: -ms-linear-gradient(top, #00ABEA, #0079A6);
 background-image: -o-linear-gradient(top, #00ABEA, #0079A6);
 background-image: linear-gradient(to bottom, #00ABEA, #0079A6);
 filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#00ABEA, endColorstr=#0079A6);
}
