/* Reset */
.nav,
.nav a,
.nav ul,
.nav li,

.nav form{
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}
#menu-wrapper{
    height:47px;
}

.nav a { text-decoration: none; }

.nav li { list-style: none; }

.nav li.nav-item-tudo{
    border-top: 4px solid $color-tudo;
}

.nav li.nav-item-noticias{
    border-top: 4px solid $color-noticias;

}
.nav li.nav-item-dicas{

    border-top: 4px solid $color-dicas;
}

.nav li.nav-item-dietas{

    border-top: 4px solid $color-dietas;
}

.nav li.nav-item-historias{

    border-top: 4px solid $color-historias;
}

.nav li.nav-item-superalimentos{

    border-top: 4px solid $color-superalimentos;
}

.nav li.nav-item-exercicios{

    border-top: 4px solid $color-exercicios;
}

.nav li.nav-item-receitas{

    border-top: 4px solid $color-receitas;
}

.nav li.nav-item-curiosidades{

    border-top: 4px solid $color-curiosidades;
}
/* Menu Container */
.nav {
	display: table;
    width: 100%;
	position: relative;
	cursor: default;
	z-index: 500;
}

/* Menu List */
.nav > li {
	display: table-cell;
}

/* Menu Links */
.nav > li > a {
	position: relative;
	display: block;
	z-index: 510;
	height: 43px;
	padding: 0 20px;
	line-height: 43px;
	font-family: $main-font;
	color:$text-color;
	text-align: center;

	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;

    &:hover{

        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7f7f7+0,efefef+100 */
        background: #f7f7f7; /* Old browsers */
        background: -moz-linear-gradient(top,  #f7f7f7 0%, #efefef 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #f7f7f7 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #f7f7f7 0%,#efefef 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #f7f7f7 0%,#efefef 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #f7f7f7 0%,#efefef 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */

        -webkit-box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.05);
        box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.05);

    }
}
//
// .nav > li:hover > a {
//
//  }

.nav > li:first-child > a {
	border-left: none;
}

/* Search Form */
.nav > li.nav-search > form {
	position: relative;
	width: inherit;
	height: 54px;
	z-index: 510;
	border-left: 1px solid #4b4441;
}

.nav > li.nav-search input[type="text"] {
	display: block;
	float: left;
	width: 1px;
	height: 24px;
	padding: 15px 0;
	line-height: 24px;

	font-family: $main-font;
	color: #999999;
	text-shadow: 0 0 1px rgba(0,0,0,.35);

	background: #372f2b;

	-webkit-transition: all .3s ease 1s;
	-moz-transition: all .3s ease 1s;
	-o-transition: all .3s ease 1s;
	-ms-transition: all .3s ease 1s;
	transition: all .3s ease 1s;
}

.nav > li.nav-search input[type="text"]:focus { color: #fcfcfc; }

.nav > li.nav-search input[type="text"]:focus,
.nav > li.nav-search:hover input[type="text"] {
	width: 110px;
	padding: 15px 20px;

	-webkit-transition: all .3s ease .1s;
	-moz-transition: all .3s ease .1s;
	-o-transition: all .3s ease .1s;
	-ms-transition: all .3s ease .1s;
	transition: all .3s ease .1s;
}

.nav > li.nav-search input[type="submit"] {
	display: block;
	float: left;
	width: 20px;
	height: 54px;
	padding: 0 25px;
	cursor: pointer;
	background: #372f2b url(../img/search-icon.png) no-repeat center center;
	border-radius: 0 3px 3px 0;

	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}

.nav > li.nav-search input[type="submit"]:hover { background-color: #4b4441; }

/* Menu Dropdown */
.nav > li > div {
	position: absolute;
	display: block;
	width: 100%;
	top: 48px;
	left: 0;
	padding: 28px 0px;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	z-index:200;
	background: #ffffff;
	-webkit-transition: all .3s ease .15s;
	-moz-transition: all .3s ease .15s;
	-o-transition: all .3s ease .15s;
	-ms-transition: all .3s ease .15s;
	transition: all .3s ease .15s;
}

.sub-nav-item-tudo{
    border-bottom: 4px solid $color-tudo;
}

.sub-nav-item-noticias{
    border-bottom: 4px solid $color-noticias;

}
.sub-nav-item-dicas{

    border-bottom: 4px solid $color-dicas;
}

.sub-nav-item-dietas{

    border-bottom: 4px solid $color-dietas;
}

.sub-nav-item-historias{

    border-bottom: 4px solid $color-historias;
}

.sub-nav-item-superalimentos{

    border-bottom: 4px solid $color-superalimentos;
}

.sub-nav-item-exercicios{

    border-bottom: 4px solid $color-exercicios;
}

.sub-nav-item-receitas{

    border-bottom: 4px solid $color-receitas;
}

.sub-nav-item-curiosidades{

    border-bottom: 4px solid $color-curiosidades;
}

.nav > li:hover > div {
	opacity: 1;
	visibility: visible;
	overflow: visible;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.5);
    box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.5);
}

/* Menu Content Styles */
.nav .nav-column {
	float: left;
    width: 25%;
    margin-left: 2.5%;

	.post{
		img{
			width: 100%;
		}
	}

	.column-right{

		.file {
			float: left;
		    width: 128px;
		    height: 170px;
		    background-color: #f4f4f3;


			.more{
				font-size: 89px;
				line-height: 138px;
				text-align: center;
				display: block;
			}

			.see-file{
				font-size: 15px;
				margin: 0 0 0 13px;
			}
		}



		.newsletter{
			float: right;
    		width: 80px;

			input[type="text"] {
			    margin: 0 0 10px 0;
			    width: 200px;
			}

			input[type="text"]{
				widows: 74px;;
			}


			.text-form{
				width: 215px;
				margin: 0 0 30px 0;
			}
			.submit{

				position: relative;
				right: -143px;
			}

		}
	}
}

.nav .nav-column h3 {
	margin: 20px 0 10px 0;
	line-height: 18px;

	font-family: $main-font;
	color: #372f2b;
	text-transform: uppercase;
}

.nav .nav-column h3.orange { color: #ff722b; }

.nav .nav-column li a {
	display: block;
	line-height: 26px;

	font-family: $main-font;
	font-weight: bold;
	font-size: 13px;
	color: #888888;
}

.nav .nav-column li a:hover { color: #666666; }


.title-post-menu{
    position: relative;
    top: -44px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.8);
    display: block;
    height: 10px;
    line-height: 10px;
    padding: 15px 10px;
    font-size: 15px ;
    font-family: $second-font;
}
