.wrapper-top-menu{

    height: $base-height;
    background: #fff;
    width: 100%;
    padding-top: 7px;

    .top-menu{
        width: $base-width;
        margin: 0 auto;
        line-height: $base-height;


        .top-menu-left{
            float: left;
            .line-products{
                display: inline;
                margin-right: ($base-height / 2);
            }
        }

        .top-menu-right{
            float: right;

            .search{
                height: 30px;
                background-position: 0 11px;
                padding: 0px 0px 0px 25px;
                line-height: 41px;
            }
        }
    }
}

#nav-bg-fixed{
    background-color: #000;
    height: 46px;
    width: 100%;
    position: absolute;
    display: block;
    top: 156px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=5);
    -moz-opacity: 0.05;
    -khtml-opacity: 0.05;
    opacity: 0.05;

    &:before{
        content: '';
        width: 100%;
        display: block;
        background: #000000;
        height: 1px;
        margin-top: -4px;
    }

    &:after{
        content: '';
        width: 100%;
        display: block;
        background: #000000;
        height: 1px;
        margin-top: 46px;
    }
}

.align{
    padding-top: 8px;
}
