//Main Font
@font-face {
    font-family: 'Avenir';
    src: url('../fonts/nunito/nunito-light-webfont.eot');
    src: url('../fonts/nunito/nunito-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nunito/nunito-light-webfont.woff2') format('woff2'),
         url('../fonts/nunito/nunito-light-webfont.woff') format('woff'),
         url('../fonts/nunito/nunito-light-webfont.ttf') format('truetype'),
         url('../fonts/nunito/nunito-light-webfont.svg#nunitolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

//Menu & Flags
@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/open_sans/opensans-light-webfont.eot');
    src: url('../fonts/open_sans/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open_sans/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/open_sans/opensans-light-webfont.woff') format('woff'),
         url('../fonts/open_sans/opensans-light-webfont.ttf') format('truetype'),
         url('../fonts/open_sans/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}
