// Fonts
$main-font: 'Helvetica';
$second-font: 'Avenir';

//font-size
$base-font-size:   16px;
$base-height:    42px;
$base-width:    980px;

/*colors*/
$text-color:           #000;
$text-color:           #000;
$color-tudo:           #00aeef;
$color-noticias:       #f62e81;
$color-dicas:          #f6d82e;
$color-dietas:         #36dc6b;
$color-historias:      #6a29db;
$color-superalimentos: #ff6d05;
$color-exercicios:     #ff0550;
$color-receitas:       #0579ff;
$color-curiosidades:   #d627dc;
